html {
    scroll-behavior: smooth;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: #FFFFFF;
}

.container{
    margin: 0 auto;
    max-width: 1440px;
}

/*.....HEADER-START.....*/

.header{
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 1000;
}

.header-container{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.header-name{
    width: 33%;
    font-size: 40px;
    font-family: "DrukCyr-Bold";
    text-align: center;
    word-spacing: 7px;
    user-select: none;
}

.header-nav{
    width: 55%;
}

.header-nav ul{
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
}

.header-nav ul li a{
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Roboto-Regular";
    transition: 1s;
    cursor: pointer;
}

.header-nav ul li a:hover{
    color: #ffa500;
}

.burger-menu{
    display: none;
    position: relative;
    width: 32px;
    height: 18px;
}

.menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 1;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
}

.menu-icon::before{
    content: '';
    top: -8px;
}

.menu-icon::after{
    content: '';
    top: 8px;
}

.menu-icon.active{
    transform: rotate(45deg);
}

.menu-icon.active::before{
    top: 0;
    transform: rotate(0);
}

.menu-icon.active::after{
    top: 0;
    transform: rotate(90deg);
}

/*.....HEADER-END.....*/

/*.....MAIN-START.....*/

.main{
    height: 100%;
}

.subtitle{
    font-size: 30px;
    color: #000000;
    font-family: "Roboto-Light";
}


/*.....WELCOME-START.....*/

.welcome{
    height: 100vh;
    background-color: #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.welcome-left-side{
    height: 100%;
    width: 40%;
    background-color: #ffa500;
    position: absolute;
}

.welcome-info{
    display: none;
}

.welcome-container{
    height: calc(100% - 100px);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.welcome-line-divider{
    height: 100%;
    width: 10%;
}

.myPhoto{
    align-self: flex-end;
    height: 100%;
    width: 400px;
    background: url(../assets/img/myPhoto.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.welcome-right-info{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    user-select: none;
}

.welcome-line{
    display: flex;
    justify-content: space-between;
    height: 5px;
    width: 100%;
    margin-bottom: 30px;
}

.welcome-subline{
    height: 100%;
    width: 30px;
    background-color: #ffa500;
}

.welcome-right-title{
    font-size: 55px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: "Roboto-Regular";
    margin-bottom: 30px;
}

.welcome-right-subtitle{
    max-width: 330px;
    font-size: 25px;
    color: #FFFFFF;
    font-family: "Roboto-Light";
    margin-bottom: 50px;
}

.welcome-button{
    height: 70px;
    width: 250px;
    background-color: #ffa500;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: "Roboto-Bold";
    font-size: 30px;
    color: #0c0024;
    border: none;
    outline: none;
    transition: 1s;
}

.welcome-button:hover{
    background-color: #ffa600a9;
}

.welcome-right-info a{
    height: 70px;
    width: 250px;
}

/*.....WELCOME-END.....*/


/*.....ABOUT-ME-START.....*/

.about-me{
    background-color: #FFFFFF;
}

.about-me-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 160px;
}

.title-container{
    font-size: 55px;
    color: #000000;
    font-family: "Roboto-Regular";
    padding-bottom: 60px;
}

.title-container span{
    color: #ffa500;
}

/*.....ABOUT-ME-END.....*/


/*.....SKILLS-START.....*/

.skills{
    background-color: #000000;
}

.skills-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 80px 0;
}

.light{
    color: #FFFFFF;
}

.title-container span{
    color: #ffa500;
}

.skill-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.skill-item{
    display: flex;
    min-height: 100px;
    width: 30%;
    background-size: 100px;
    background-repeat: no-repeat;
    padding-left: 140px;
    align-items: center;
    font-size: 30px;
    font-family: "Roboto-Regular";
    margin-bottom: 50px;
    color: #FFFFFF;
}

.skill-java{
    background-image: url(../assets/img/java.png);
}

.skill-cPlusPlus{
    background-image: url(../assets/img/cPlusPlus.png);
}

.skill-html{
    background-image: url(../assets/img/html.png);
}

.skill-css{
    background-image: url(../assets/img/css.png);
}

.skill-javascript{
    background-image: url(../assets/img/js.png);
}

.skill-figma{
    background-image: url(../assets/img/figma.png);
}

/*.....SKILLS-END.....*/


/*.....EXPERIENCE-START.....*/

.experience{
    background-color: #acacac;
}


.experience-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

.myworks-container{
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    width: 100%;
}

.work-item{
    display: flex;
    position: relative;
    justify-content: center;
    background: url(../assets/img/notebook.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    width: 48%;
    margin-bottom: 80px;
    user-select: none;
}

.example-image{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.example-image a{
    display: flex;
    justify-content: center;
}

.example-image img{
    margin-top: 3%;
    height: 77%;
    width: 98%;
    transition: 1s;
    border-radius: 2%;
}

.example-image img:hover{
    transform: scale(1.1);
}

.example-title{
    position: absolute;
    font-family: "Roboto-Bold";
    text-transform: uppercase;
    font-size: 25px;
    bottom: -10px;
}

/*.....EXPERIENCE-END.....*/



/*.....EDUCATION-START.....*/

.education{
    background-color: #000000;
}

.education-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 80px 0;
}

.english{
    background-color: #000000;
}

.english-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 80px 0;
}

/*.....EDUCATION-END.....*/



/*.....MAIN-END.....*/



/*.....FOOTER-START.....*/

.footer{
    background-color: #ffa500;
}

.footer-container{
    padding: 40px 0;
    width: 90%;
}

.footer-link-elements{
    display: flex;
    justify-content: space-between;
}

.footer-icon{
    height: 50px;
    width: 200px;
    background-repeat: no-repeat;
    align-items: center;
}

.github-link{
    background-size: contain;
    background-image: url(../assets/img/github.png);
}

.rs-school-link{
    background-size: contain;
    background-position: center;
    background-image: url(../assets/svg/rs_school_js.svg);
}

.footer-create-date{
    width: 200px;
    font-size: 20px;
    color: #000000;
    font-family: "Roboto-Bold";
    text-align: right;
    text-transform: uppercase;
    user-select: none;
}

/*.....FOOTER-END.....*/

@media (max-width: 1024px) {
    .welcome-line-divider{
        display: none;
    }

    .myPhoto{
        max-height: calc(100vh - 100px);
    }

    .myPhoto img{
        max-height: 100%;
    }

    .burger-menu{
        display: block;
    }

    .header-nav{
        display: none;
    }

    .header-name{
        font-size: 35px;
    }

    .welcome-right-info{
        width: 270px;
        margin-right: 0;
    }

    .welcome-right-title{
        font-size: 45px;
    }

    .welcome-subline:last-child{
        display: none;
    }

    .welcome-right-subtitle{
        max-width: 230px;
        font-size: 25px;
    }

    .welcome-right-info a{
        width: 200px;
    }

    .welcome-button{
        width: 200px;
        font-size: 25px;
    }

    .skill-item{
        width: 300px;
    }
}

@media (max-width: 768px) {

    .header-name{
        display: none;
    }

    .welcome{
        position: relative;
        justify-content: flex-start;
        background-color: #ffa500;
    }

    .welcome-container{
        height: 100%;
        justify-content: flex-end;
        flex-direction: column;
    }

    .welcome-left-side{
        height: 40%;
        width: 100%;
        bottom: 0;
        background-color: #000000;
    }

    .welcome-info{
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 150px;
        position: absolute;
        margin-top: 150px;
        font-size: 40px;
        font-family: "DrukCyr-Bold";
        text-align: center;
        word-spacing: 7px;
        user-select: none;
        text-transform: up;
    }

    .welcome-info-name{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .welcome-info-name h2{
        width: 150px;
    }

    .welcome-info-profession{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .welcome-info-profession h2{
        width: 150px;
    }

    .myPhoto{
        height: calc(60% - 100px);
        width: 100%;
        background: url(../assets/img/myPhoto-mobile.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom center;
    }

    .welcome-right-info{
        justify-content: center;
        height: 40%;
        width: 70%;
    }

    .welcome-right-title{
        display: none;
    }

    .welcome-subline{
        width: 8%;
    }

    .welcome-subline:last-child{
        display: block;
    }

    .welcome-right-subtitle{
        width: 100%;
        max-width: none;
        margin-bottom: 30px;
        font-size: 20px;
        text-align: center;
    }

    .welcome-right-info a{
        height: auto;
        width: auto;
    }

    .welcome-button{
        height: 50px;
        font-size: 20px;
    }

    .welcome-right-info a{
        margin: 0 auto;
    }

    .menu-icon, .menu-icon::before, .menu-icon::after{
        background-color: #000000;
    }

    .skill-item{
        width: 100%;
    }

    .work-item{
        width: 100%;
    }

    .footer-icon{
        height: 30px;
        width: 120px;
    }

    .footer-create-date{
        width: auto;
        font-size: 11px;
    }
}

@media (max-width: 500px) {
    .welcome-info-name h2{
        width: 100px;
    }

    .welcome-info-profession h2{
        width: 100px;
    }

    .welcome-info{
        gap: 130px;
    }

    .welcome-info{
        font-size: 30px;
    }
}

@media (max-width: 425px) {
    .welcome-info{
        gap: 110px;
    }

    .footer-icon{
        height: 20px;
        width: 80px;
    }

    .footer-create-date{
        font-size: 7px;
    }
}


@font-face {
    font-family: "Forum-Regular";
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(../assets/fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(../assets/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "DrukCyr-Heavy";
    src: url(../assets/fonts/DrukCyr-Heavy.ttf);
}

@font-face {
    font-family: "DrukCyr-Bold";
    src: url(../assets/fonts/DrukCyr-Bold.ttf);
}